.topbor-btn {
    background-color: rgb(239, 248, 242);
    border: 2px solid rgb(239, 248, 242);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.topbor-btn :hover {
    background-color: rgb(204, 206, 204);
    border: 2px solid rgb(204, 206, 204);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
}

.Proceed-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid green;
}

.navbar {
    background-color: rgb(217, 236, 226);
}

.navbar-texts {
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 490px
}

.search {
    border: none;
    outline: none;
    background: rgb(239, 248, 242);
    border-radius: 10px;
    width: 400px;
    height: 40px;
    padding-left: 20px;
}

.v-text {
    font-family: "Pacifico", cursive;
    color: #23a77b;
}

.z-text {
    font-family: "Pacifico", cursive;
    color: #a17a25;
}

.header {
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.text {
    color: #3c009d;
    font-size: 45px;
    font-weight: 700;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input i {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    text-align: center;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: #3c009d;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
}

.gray {
    background: #eaeaea;
    color: #676767;
}

.card-style {
    font-family: "Noto Serif", serif;

    background: linear-gradient(to right top, #a9c3e9, #90d5ee, #8de3e1, #abedc8, #dcf0b1);
}

.payment-card {
    background: linear-gradient(to right top, #e792e3, #bfb0ff, #9ec8ff, #9ad9fd, #b1e5f0);
}

.product-style {
    background-image: linear-gradient(to right top, #d6f0f4, #d8eefa, #ddecfd, #e7e8fd, #f1e5f9);
}

.product-style h1 {
    text-decoration: underline 2px solid black;
    font-family: "Josefin Sans", sans-serif;
}

.creditcard-style {
    background-image: linear-gradient(to bottom, #b4d6ec, #abdde9, #abe2e0, #b5e6d3, #c7e7c5);
}